@model BTL___MVC.Database.LoaiSanPham

@{
    ViewBag.Title = "Xóa loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Bạn có chắc muốn xóa loại sản phẩm này không?</h3>
<div>
    <h4>LoaiSanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.maloai_id)*@
            <label class="control-label ">Mã loại</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maloai_id)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.tenloai)*@
            <label class="control-label">Tên loại</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenloai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-light" /> <hr />
            <a href="/Admin/LoaiSanPhams/Index">Trở lại</a>
            
        </div>
    }
</div>