
@{
    ViewBag.Title = "Thêm loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<h2>@ViewBag.Title</h2>*@

<div ng-app="myApp" ng-controller="myControl">
    <form ng-submit="addData()">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>LoaiSanPham</h4>
            <hr />
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

            <div class="form-group">
                <label class="control-label">Tên loại</label>

                <div class="col-md-10">
                    <input type="text" ng-model="loaiSanPham.Tenloai" class="form-control" />

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-light">Thêm mới</button>
                </div>
            </div>
        </div>


        <div>
            <a href="/Admin/LoaiSanPhams/Index">Trở lại</a>
        </div>
    </form>
</div>


@section jsFooter{
    <script>
        var myApp = angular.module("myApp", [])
        myApp.controller("myControl", function ($scope, $http, $httpParamSerializerJQLike) {
            $scope.loaiSanPham = {};
            $scope.addData = function () {
                Token = angular.element('input[name="__RequestVerificationToken"]').attr('value');
                $scope.loaiSanPham.__RequestVerificationToken = Token;
                dataRequest = $scope.loaiSanPham;
                $http({
                    method: 'POST',
                    url: '/Admin/LoaiSanPhams/ThemLSP',
                    data: $httpParamSerializerJQLike(dataRequest),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' }

                }).then(function (res) {
                    if (res.msg == false) {
                        alert("Lỗi thêm bản ghi");
                    }
                    else {
                        alert("Thêm bản ghi thành công");
                        window.location.href = "/Admin/LoaiSanPhams/Index";
                    }
                });
            };
        });

    </script>

}

